.row
  .span4
    = image_tag @itinerary.static_map, class: 'google-static-map', alt: ''
  .span8
    %h1.itinerary-title
      %small= Itinerary.human_attribute_name :start_address
      %span= @itinerary.start_address
      %small= Itinerary.human_attribute_name :end_address
      %span= @itinerary.end_address
    %h2.itinerary-subtitle
      - if @itinerary.daily?
      - else
        %small= Itinerary.human_attribute_name :leave_date
        %span= l(@itinerary.leave_date, format: :long)
        - if @itinerary.round_trip?
          %small= Itinerary.human_attribute_name :return_date
          %span= l(@itinerary.return_date, format: :long)
