= bootstrap_form_for Itineraries::Search.new, url: search_itineraries_path, method: :post, validate: true, remote: true do |f|
  = f.text_field :from, class: 'input-xlarge width-max', label: Itineraries::Route.human_attribute_name(:from)
  = f.text_field :to, class: 'input-xlarge width-max', label: Itineraries::Route.human_attribute_name(:to)
  %p
    = link_to '#', id: 'search-form-advanced-link' do
      %i.icon-chevron-up
      = t('.advanced_search')
  #search-form-advanced.hide.form-inline
    %table
      - if current_user.female?
        %tr
          %td{ colspan: 2 }
            = f.check_box :filter_pink, class: '', label: Itinerary.human_attribute_name(:pink)
            %i.icon-question-sign.tooltipable{ rel: 'tooltip', title: t('itineraries.details_step.pink_help') }
      %tr
        %td{ colspan: 2 }
          = f.check_box :filter_verified, class: '', label: t('.verified_users')
      %tr
        %td{ colspan: 2 }
          = f.check_box :filter_round_trip, class: '', label: Itinerary.human_attribute_name(:round_trip)
      - [:smoking_allowed, :pets_allowed].each do |boolean_field|
        %tr
          %td= f.label "filter_#{boolean_field}".to_sym, Itinerary.human_attribute_name(boolean_field)
          %td.select-field.align-right
            = f.default_tag :select, "filter_#{boolean_field}".to_sym, boolean_options_for_select, { include_blank: true }
      %tr
        %td><
          = f.label :filter_driver_gender, Itinerary.human_attribute_name(:driver_gender)
        %td.select-field.align-right
          = f.default_tag :select, :filter_driver_gender, options_for_array_collection(User, :gender), { include_blank: true }, class: 'width-auto'

  = f.hidden_field :start_location_lat
  = f.hidden_field :start_location_lng
  = f.hidden_field :end_location_lat
  = f.hidden_field :end_location_lng
  = button_tag t('.search'), type: 'button', class: 'btn btn-primary', id: 'itineraries-search'
  = image_tag 'ajax-spinner-24x17.gif', width: 24, height: 17, alt: '...', id: 'itineraries-spinner', class: 'hide'
