- title t('.title')
= render 'header'
.spacer
.row
  .span12
    = bootstrap_form_for @itinerary, validate: true do |f|
      = f.error_messages
      = render 'form', f: f
      .form-actions
        = f.submit class: 'btn btn-primary'
