- title t('.title')
.container
  = render 'header'
  = bootstrap_form_for @itinerary, validate: true, html: { class: 'form-horizontal' } do |f|
    = f.error_messages
    = render 'form', f: f
    .form-group
      .col-sm-10.col-sm-offset-2
        = f.submit class: 'btn btn-primary', disable_with: t('helpers.disable_with')
