= bootstrap_form_for @user, validate: true, html: { class: "form-horizontal" } do |f|
  = f.error_messages

  %fieldset{ class: ("error" if @user.errors.any?) }

    = f.text_field :email, placeholder: User.human_attribute_name(:email)
    = f.password_field :password, placeholder: User.human_attribute_name(:password)

    .control-group
      %label.control-label
      .controls
        #recaptcha_image
    .control-group.recaptcha{ class: ("error" if @user.errors.include?(:recaptcha)) }
      .controls
        %input#recaptcha_response_field{name: "recaptcha_response_field", type: "text", placeholder: t("recaptcha.enter_words")}
        -if @user.errors.include?(:recaptcha)
          %span.help-inline does not match captcha
        = recaptcha_tags(display: { theme: "custom", lang: "it", custom_theme_widget: "recaptcha_widget" })

    .control-group
      .controls
        = t('.terms')

    .form-actions
      = f.submit t('.signup'), class: "btn btn-primary"
