.row
  .span3
    = user_avatar user, user_path(user)
  .span9
    .row-fluid
      .span6
        - if defined?(message)
          %p.balloon
            = message
        %h3{ style: "font-weight: normal;" }
          = t(".personal_info")
        %p
          - if user.age
            #{User.human_attribute_name(:age)}:
            %b= user.age
            %br
          - if user.city
            #{User.human_attribute_name(:city)}:
            %b= user.city
            %br
          - if user.nationality
            #{User.human_attribute_name(:nationality)}:
            = nationality_flag(user, false)
            %b= user.nationality_name
            %br
          - if user.languages.any?
            #{User.human_attribute_name(:languages)}:
            - user.ordered_languages.each do |language, level|
              %b
                #{language.name}
              (#{Language.human_attribute_name("level_#{level}")}),
            - # TODO remove comma
            %br
          - if user.education
            #{User.human_attribute_name(:education)}:
            %b= user.education
            %br
          - if user.occupation
            #{User.human_attribute_name(:occupation)}:
            %b= user.occupation
            %br

          =# link_to "Read more", user_path(requesting_user), class: "btn"
      .span6
        %h3{ style: "font-weight: normal;" }
          = t(".about")
        %p.align-justify
          = user.short_about
        - if user.references.visible.filled_up.any?
          %h3{ style: "font-weight: normal;" }
            = t(".references")
            (#{user.references.visible.filled_up.size})
          = references_summary_tags(user)
          %p
            - user.references.visible.filled_up.sample(2).each do |reference|
              = reference_snippet(reference)
              %br
