- title t(".title")
.row
  .span6
    #hero-user.hero-unit
      .attribution
        db9_dash.jpg by xmatt, on Flickr
      .pacifico.dashboard-title= t(".reminder")
      %p
        = link_to :conversations, class: "btn btn-large btn-block" do
          %i.icon-comments.icon-large
          = t(".new_messages", count: current_user.unread_conversations_count)
      %p
        = link_to :notifications, class: "btn btn-large btn-block mock" do
          %i.icon-globe.icon-large
          = t(".new_notifications", count: 0)
  .span6
    #hero-itineraries.hero-unit
      .attribution
        _IGP5461 | 70 by Ben Fredericson (xjrlokix), on Flickr
      .pacifico.dashboard-title= Itinerary.model_name.human(count: 42)
      %p
        = link_to itineraries_path, class: "btn btn-large btn-block" do
          %i.icon-search.icon-large
          = t(".search_itineraries")
      %p
        = link_to new_itinerary_path, class: "btn btn-large btn-block " do
          %i.icon-road.icon-large
          = t(".new_itinerary")
      %p
        = link_to my_itineraries_path, class: "btn btn-large btn-block " do
          %i.icon-heart.icon-large
          = t(".your_itineraries")
.row
  .span6.offset6
    %h3.pacifico= t(".latest_itineraries")
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th= Itinerary.human_attribute_name(:title)
          %th= User.model_name.human
          %th= Itinerary.human_attribute_name(:leave_date)
      %tbody
        - @last_itineraries.each do |itinerary|
          %tr
            %td= link_to itinerary, itinerary_path(itinerary)
            %td= link_to itinerary.user, user_path(itinerary.user)
            %td= l(itinerary.leave_date.in_time_zone, format: :short)
