- title @user
.row
  .span3
    = user_profile_picture @user, size: [], type: :large, class: 'border-box'
  .span9
    %h1.no-margin-bottom= @user
    %p.muted
      %small= t('.member_since', date: l(@user.created_at.to_date, format: :month_year))
    - if @user.bio?
      %blockquote.user-blockquote
        %p= @user.bio
    - if @user.facebook_verified?
      %blockquote.facebook-verified-blockquote
        %span.facebook-verified
          %i.icon-ok
          = User.human_attribute_name(:facebook_verified)
        %br
        %sspan.muted= t('.facebook_verified')
    %dl.dl-horizontal.tag-list
      %dt
        %span= Reference.model_name.human(count: :lot)
      %dd
        = reference_tags @user
        = link_to t('.see_all'), user_references_path(@user)
      %dt
        %span.description-facebook= t('.basic_info')
      %dd><
        %span><= t('.friends', count: friends_with_privacy(@user.facebook_friends.size))
        %span{ class: check_common_field(@user, :age) }><= t('.age', count: @user.age)
        %span{ class: check_common_field(@user, :gender) }><= User.human_attribute_name "gender_#{@user.gender}"
        = language_tags @user
      = mutual_friends @user, current_user
      = work_and_education_tags @user, :education
      = work_and_education_tags @user, :work
      = favorite_tags @user, @user.facebook_favorites
