.navbar.navbar-fixed-top
  .navbar-inner
    .container
      - unless logged_in?
        %a.btn.btn-navbar{ data: { toggle: "collapse", target: ".nav-collapse" } }
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      = link_to logged_in? ? :dashboard : root_path, class: "brand" do
        = image_tag "turtle.svg", class: "brand-logo"
        %span.hidden-phone= APPNAME
      - if logged_in?
        %ul#navbar-notifications-list.nav
          %li.divider-vertical.hidden-phone
          = navbar_notifications Message.model_name.human(count: :lot),
                                 id: "messages",
                                 icon: "comments",
                                 unread: current_user.unread_conversations_count,
                                 link: link_to(t(".see_all_messages"), :conversations),
                                 ajax: (unread_conversations_path(format: :json) if current_user.unread_conversations_count > 0),
                                 content: t(".no_new_messages")
          = navbar_notifications Notification.model_name.human(count: :lot),
                                 id: "notifications",
                                 icon: "globe",
                                 mock: true
          - if current_user.admin?
            = navbar_notifications "Reports", id: "reports", icon: "flag", mock: true
          %li.loading
            #loading-spinner
        %ul.nav.pull-right
          %li#user-navbar-info
            = link_to user_path(current_user), class: "navbar-profile-picture" do
              = user_profile_picture current_user, size: [], style: nil
            = link_to user_path(current_user), class: "navbar-profile-name hidden-phone" do
              = current_user
          %li.dropdown
            = link_to "#", data: { toggle: "dropdown" }, class: "dropdown-toggle" do
              %i.icon-chevron-down
            %ul.dropdown-menu
              %li
                = link_to :settings do
                  %i.icon-cog
                  = t(".user_settings")
              %li
                = link_to :logout do
                  %i.icon-signout
                  = t("logout")
      - else
        %ul.nav.pull-right
          %li
            = link_to auth_at_provider_path(provider: :facebook), data: { :"no-turbolink" => true } do
              %i.icon-facebook-sign
              = t("login_with_facebook")
        .nav-collapse
          %ul.nav
            %li.divider-vertical
            %li= link_to t("how_it_works"), :how_it_works
            %li= link_to t("about"), :about
            %li.loading
              #loading-spinner
          %ul.nav.pull-right
            %li.dropdown.pull-right
              = link_to "#", data: { toggle: "dropdown" }, class: "dropdown-toggle" do
                = AVAILABLE_LOCALES[I18n.locale]
                %b.caret
              %ul.dropdown-menu
                - AVAILABLE_LOCALES.each do |code, native_name|
                  - if code != I18n.locale
                    %li
                      =link_to native_name, "?locale=#{code}"
