.popover-ajax-content{ id: id}
  def navbar_notifications(title, opts = {})
    options = { icon: 'globe',
                id: 'notifications',
                link: nil,
                mock: false,
                ajax: nil,
                content: nil,
                unread: 0 }.merge(opts)
    content = "\
      #{("<div id='#ajax-#{options[:id]}' class='popover-ajax-content'> \
        <div style='text-align: center'>#{image_tag 'ajax-spinner-24x17.gif', width: 24, height: 17, alt: "..."}</div>
      </div>" if options[:ajax]) || "<div class='popover-static-content'>#{options[:content]}</div>"} \
      #{"<p><small>#{options[:link]}</small></p>" if options[:link]}"
    content_tag(:li,
                class: "notifications#{(" read" if options[:unread] == 0)}#{(" mock" if options[:mock])}",
                id: "navbar-notifications-#{options[:id]}") do
      content_tag(:a,
                  content_tag(:i, nil, class: "icon-#{options[:icon]}") + (content_tag(:span, options[:unread], class: 'label label-important count') if options[:unread] > 0),
                  href: '#',
                  rel: 'popover',
                  data: { placement: 'bottom', content: content, title: title, html: true, trigger: 'manual', load: (options[:ajax]) })
    end
  end
