!!!
%html{ lang: I18n.locale.to_s }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0' }
    %title= t('meta_description', appname: APP_CONFIG.app_name)
    = csrf_meta_tags
    = tag :meta, name: 'description', content: t('meta_description', appname: APP_CONFIG.app_name)
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    / Le styles
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu:400,500,700|Pacifico',
                          'application',
                          media: 'all'

    / Touch icons
    %link{ href: asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon' }
    %link{ href: asset_path('apple-touch-icon-72x72.png'), rel: 'apple-touch-icon', sizes: '72x72' }
    %link{ href: asset_path('apple-touch-icon-114x114.png'), rel: 'apple-touch-icon', sizes: '114x114' }

    /
      Le javascript
      \==================================================
    / Placed at the top of the document 'cause of turbolinks
    = javascript_include_tag 'application'
    - if APP_CONFIG.exists?(:google_analytics_id) && APP_CONFIG.google_analytics_id
      = analytics_init
  / TODO DISABLE TURBOLINKS
  %body.home-page-body
    #fb-root
    #home-top-section
      .learn-more-container.hidden-phone.text-center
        %a.btn.btn-large.btn-learn-more{ href: '#' }= t('.learn_more')
      #home-top-section-background
        .attribution
          _IGP5461 | 70 by Ben Fredericson (xjrlokix), on Flickr
        = image_tag asset_path('dash-itineraries.jpg'), alt: ''
      #home-top-section-container.container
        = render 'shared/flash_messages'
        %h1.pacifico
          = APP_CONFIG.app_name
          - if APP_CONFIG.demo_mode
            %small
              demo
        %h2= t('.tagline')
        = render 'facebook_login'
    .container
      .row
        .span12
          #learn-more
            .ribbon-container
              .ribbon
                .ribbon-content
                  %h2= t('.what_is_appname', appname: APP_CONFIG.app_name)
            %p.lead=  t('meta_description', appname: APP_CONFIG.app_name)
      .row
        .span12
          .ribbon-container
            .ribbon
              .ribbon-content
                %h2= t('.main_features')
      #home-text-snippets
        .row
          .span4
            .home-icon
              %i.icon-road
            %h3= t('.share_itinerary_title')
            %p= t('.share_itinerary_content')
          .span4
            .home-icon
              %i.icon-group
            %h3= t('.make_new_connections_title')
            %p= t('.make_new_connections_content')
          .span4
            .home-icon
              %i.icon-money
            %h3= t('.save_money_title')
            %p= t('.save_money_content')
        .row
          .span12.spacer.hidden-phone
          .span4
            .home-icon
              %i.icon-magic
            %h3= t('.thats_easy_title')
            %p= t('.thats_easy_content')
          .span4
            .home-icon
              %i.icon-leaf
            %h3= t('.help_environment_title')
            %p= t('.help_environment_content')
          .span4
            .home-icon
              %i.icon-github-alt
            %h3= t('.open_source_title')
            %p= t('.open_source_content', appname: APP_CONFIG.app_name, source_code_link: link_to(t('.source_code'), APP_CONFIG.repository_url)).html_safe
      .row
        .span12
          .ribbon-container
            .ribbon
              .ribbon-content
                %h2= t('.join_us_today')
      .row
        .span6
          #facepile-container.hide
            .fb-facepile{ data: { size: 'medium', :"max-rows" => '1' } }
        .span6= render 'facebook_login'
      = render 'shared/modal_why_facebook'

    #footer
      .container= render 'shared/footer'
