<div class= "gmaps-popup">
  <div class= "gmaps-popup-image">
    <img width="50" height="50" alt="" src="{{user.image}}">
  </div>
  <div class="gmaps-popup-text">
    <h5 class="mb-0">
      <a class="pre-line" href="{{url}}">{{title}}</a>
    </h5>
    <p class="gmaps-popup-p-content">
      {{user.name}}
    </p>
  <div class="gmaps-popup-div-details">
    {{content}}
  </div>
</div>
