.row
  .span12
    = render 'shared/flash_messages'
    %h1=t '.title', default: Feedback.model_name.human(count: :lot)
    .btn-toolbar
      = link_to t("helpers.links.new"), new_feedback_path(url: @url), class: 'btn btn-primary'
      - if params[:hide_fixed]
        = link_to t('.show_fixed'), feedbacks_path, class: 'btn'
      - else
        = link_to t('.hide_fixed'), feedbacks_path(hide_fixed: true), class: 'btn'
    %table.table.table-striped
      %thead
        %tr
          %th= Feedback.human_attribute_name(:type)
          %th= Feedback.human_attribute_name(:status)
          %th= User.model_name.human
          %th= Feedback.human_attribute_name(:message)
          %th= Feedback.human_attribute_name(:updated_at)
          %th=t '.actions', default: t('helpers.actions')
      %tbody
        - @feedbacks.each do |feedback|
          %tr{ class: ('success' if feedback.fixed?) }
            %td= feedback.type
            %td= feedback.status.upcase
            %td= link_to feedback.user_name, user_path(feedback.user)
            %td= link_to feedback.message.truncate(100), feedback_path(feedback)
            %td= l feedback.updated_at, format: :long
            %td.btn-toolbar
              = link_to edit_feedback_path(feedback), class: 'btn btn-small' do
                %i.icon-edit
                = t('helpers.links.edit')
              - if current_user.admin?
                = link_to feedback_path(feedback), method: :delete, data: { confirm: t('helpers.links.confirm') }, class: 'btn btn-small btn-danger' do
                  %i.icon-trash
                  = t('helpers.links.destroy')
    = paginate @feedbacks
