= bootstrap_form_for @reference, validate: true, html: { class: 'form-vertical' } do |f|
  = hidden_field_tag :itinerary_id, @itinerary.id
  = f.error_messages
  = f.fields_for @reference.references_outgoing do |outgoing_f|
    = outgoing_f.text_area :body, rows: 5, class: "input-xxlarge"
    .control-group
      .controls
        = outgoing_f.radio_button :rating, -1, class: "inline", label: "negative"
        = outgoing_f.radio_button :rating, 0, class: "inline", label: "neutral"
        = outgoing_f.radio_button :rating, 1, class: "inline", label: "positive"
  .form-actions
    = f.submit class: 'btn btn-primary'
