%table.table.table-striped.table-in-calendar
  - if references.empty?
    %p.grayed-out
      You have no pending references
  - else
    %thead
      %tr
        %th.width-min.no-border-top
          = t(".type")
        %th.width-min.no-border-top
          = t(".user")
        %th.width-min.nowrap.no-border-top
          = t(".users_rating")
        %th.no-border-top
          = t(".users_message_snippet")

    %tbody
      - references.each do |reference|
        %tr{ class: ("not-relevant-for-me" unless reference.outgoing_reference.relevant) }
          %td.align-center
            - if reference.is_guest
              %i.titleable-icon.icon-plane{ title: t("users.calendar_travelling.travelling") }
            -else
              %i.titleable-icon.icon-home{ title: t("users.calendar_hosting.hosting") }
          %td
            = link_to edit_incoming_reference_path(reference), class: "user-tag" do
              = small_user_avatar reference.referencing_user, false, "micro"
              %p.name
                = reference.referencing_user
          - if reference.filled_up?
            %td
              = make_thumbs reference.rating
            %td
              #{reference.message[0...50]}...
          - else
            %td{ colspan: 2 }
              - if reference.relevant
                %i.grayed-out
                  = t("references.edit.other_did_not_write", name: reference.referencing_user)
              - else
                %i.grayed-out
                  = t("references.edit.other_not_relevant", name: reference.referencing_user)
