- title t(".title")
.row
  .span12
    %h1= yield :title
  .span12
    %table.table.table-striped
      %thead
        %th
        %th= User.model_name.human
        %th= References::Base.human_attribute_name(:rating)
        %th= References::Base.human_attribute_name(:body)
        %th= t("helpers.actions")
      %tbody
        - @references.each do |reference|
          - if reference.incoming
            %tr{ class: ("unread" if reference.unread?) }
              %td
                %i.icon-download-alt
              %td= @user
              %td= make_thumbs reference.incoming.rating
              %td= link_to reference.incoming.body, user_reference_path(@user, reference)
              %td
          - if reference.outgoing
            %tr
              %td
                %i.icon-upload-alt
              %td= link_to reference.referencing_user, user_path(reference.referencing_user)
              %td= make_thumbs reference.outgoing.rating
              %td= link_to reference.outgoing.body, user_reference_path(@user, reference)
              %td
    = paginate @references
