- title t('.title')
.row
  .span12
    %h1= yield :title
  .span12
    %table.table.table-striped
      %thead
        %th
        %th= User.model_name.human
        %th= t('references.commons.role')
        %th= Reference.human_attribute_name(:rating)
        %th= Reference.human_attribute_name(:body)
      %tbody
        - @references.each do |reference|
          - if reference.incoming
            %tr{ class: ('unread' if reference.unread?) }
              %td
                %i.icon-download-alt
              %td= link_to reference.referencing_user, user_path(reference.referencing_user)
              %td= driver_or_passenger reference
              %td= make_thumbs reference.incoming.rating
              %td= link_to reference.incoming.body.truncate(50), user_reference_path(@user, reference)
              %td
          - if reference.outgoing && reference.outgoing.body?
            %tr
              %td
                %i.icon-upload-alt
              %td= link_to reference.referencing_user, user_path(reference.referencing_user)
              %td= driver_or_passenger reference
              %td= make_thumbs reference.outgoing.rating
              %td= link_to reference.outgoing.body, user_reference_path(@user, reference)
    = paginate @references
