!!!
%html{lang: I18n.locale.to_s}
  %head{ prefix: "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# codenameicare: http://ogp.me/ns/fb/codenameicare#" }
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %title= yield_or_default :title, controller.action_name.titlecase
    = csrf_meta_tags
    = yield :head
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>

    / Le styles
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Oxygen", "http://fonts.googleapis.com/css?family=Pacifico", "application", media: "all"

    / Le fav and touch icons
    %link{ href: "/assets/favicon.ico", rel: "shortcut icon" }
    %link{ href: "/assets/apple-touch-icon.png", rel: "apple-touch-icon" }
    %link{ href: "/assets/apple-touch-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72" }
    %link{ href: "/assets/apple-touch-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114" }

  %body
    = render "shared/navbar"
    #main-container.container
      .content
        = yield
      %hr
      = render "shared/footer"
    / /container
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true&libraries=geometry", "application"
